<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System </title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/homefile.css')}}">
    <link rel="stylesheet" href="/static/style/homefile.css">

    
    
</head>
<body>
    <main>
    

        <div id="header">
            <div id="home"><p>Home</p></div>
            <div id="services"><p>Services</p></div>
            <div id="product"><p>Product</p></div>
            <div id="contact"><p>Contact</p></div>
            <div id="about"><p>About</p></div>
        </div>
        <div id="fakeheader"></div>

        <div id="page1"><h1>Crop Recommendation</h1></div>



        <div id="page2">
            <p><b>Agriculture is critical to ensuring global food security and financial stability, but faces significant challenges such as
                climate change, resource scarcity and population growth. To address these issues, crop recommendation systems have
                proven to be valuable tools to help farmers decide which crops to plant. </b></p>

            <ul>
                <li>
                    
                        Agriculture faces many challenges, from climate change and environmental degradation to population growth and
                        changing consumer preferences
                    
                    
                </li>
                <li>
                  
                        Optimizing crop yield and quality is critical to agricultural production as it directly affects profitability and food security.
                        Crop recommendation systems use data analysis and agronomic knowledge to improve crop management, maximize
                        profitability and maintain high crop quality.
                    
                 

                </li>
                <li>
                    crop and production decisions [16]. In addition, farmers' behavior and decision-making processes are
                    influenced by policies such as agricultural subsidies, regulations and trade agreements.

                </li>
            </ul>

           

            
                <form action="/Predict" >
                    

                    <input  type="submit" id="Predict" name="Predict" action="Predict" value="Crop_To_Grow">
                </form>
                



        </div>
       


    </main>
    
</body>
</html>